body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}

header, nav, article, footer, div.city, div.country {
    border: 1px solid grey;
    margin: 5px;
    padding: 8px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

.footer{
    background-color: #9fcdff;
}

.menu{
    background-color: #b9bbbe;
}