.margin-top{
    margin-top: 20px;
}
.uno_background{
    background-color: #9fcdff;
}

.dos_background{
    background-color: #b1dfbb;
}

.img {
    height: 40px;
    width: 40px;
}

.img-02{
    height: 60px;
    width: 60px;
}

.aliniar-derecha{
    text-align: right;
    padding-right: 0px;
}